[package]
name = "other"
version = "0.1.0"
edition = "2024"

[dependencies]
emoji = { path = "../emoji-rs/emoji"}
emoji_search = {path = "../emoji_search"}
gpui = "0.2.0"
gpui-component = "0.4.2"
espanso-inject = {git = "https://github.com/espanso/espanso"}
unicode-segmentation = "1.12.0"
