[package]
name = "other"
version = "0.1.0"
edition = "2024"

[dependencies]
emoji = { path = "../emoji-rs/emoji"}
emoji_search = {path = "../emoji_search"}
gpui = "0.2.2"
gpui-component = "0.4.2"
espanso-inject = {git = "https://github.com/espanso/espanso"}
unicode-segmentation = "1.12.0"
cocoa = "0.26.0"
imekit = "0.1.0"
global-hotkey = "0.7.0"
daemonize = "0.5.0"
service-manager = "0.10.0"
